<%= form_tag  url_for(controller: :proxy, action: :view), method: 'get' do %>
  <%= label_tag('Enter value(>0):')%>
  <%= text_field_tag(:val, nil, placeholder: '45')%>
  <div>
    <%= label_tag('Method:')%><br/>
    <%= radio_button_tag(:side, 'server')%> Server <br/>
    <%= radio_button_tag(:side, 'client-with-xslt')%> Client <br/>
    <%= radio_button_tag(:side, 'client')%> RAW <br/>
    <%= submit_tag('find')%>
  </div>
<% end %>